<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="box-static">

        <h1>Login</h1>
        <form class="property-form" id="loginForm">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <div class="Bu">
                <button type="submit" id="crear">Login</button>
            </div>
        </form>
        <div class="message"></div>

    </div>
    <script src="login.js"></script>
</body>

</html>